:root {
    --skodaGreen: #4AA82E;
}

.fixedButtonCircle{
    position: fixed;
    width: 20vw;
    height: 20vw;
    bottom: 5vw;
    right: 5vw;
    border-radius: 50%;
    background-color: var(--skodaGreen); 

    display: flex;
    align-items: center;
}
.fixedButtonCircle * {
    margin: auto;
}
.apRec{
    display: grid;
    justify-items: stretch;
    grid-template-columns: 1fr  3fr;
    grid-template-areas: 
    "name name"
    "owner time";
    margin: 3%;
    padding: 2%;
    text-align: center;
    box-shadow: 1px 1px 5px#555555;
    
    background-color: #eee;
    font-family: Helvetica;
    font-size: 3em;
}
.apRec .time{
    grid-area: time;

}
.apRec .name{
    grid-area: name;
    word-wrap: break-word;
}
.apRec .owner{
    grid-area: owner;
}
.popUpBox{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: 70vh;
}
.exit{
    position: absolute;
    top: -1em;
    right: 0.7em;
    width: 10vw;
    height: 10vh;
}
html, body{
  min-height: 100%;
}
body{
  position: relative;
}
.overlay{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0);
}